.parameters__group {
    padding-top: 10px;
    padding-bottom: 5px;
    display: block;
    line-height: 1 !important;
}

.parameters__row {
    margin-right: 8px;
    display: grid;
    grid-template-columns: 40px 25px 1fr 90px;
    align-items: center;
    user-select: none;
}
