.parameters__title {
    text-align: center;
    display: block;
}

.parameters__group {
    padding-top: 10px;
    padding-bottom: 5px;
    display: block;
    line-height: 1 !important;
}

.parameters__row {
    margin-right: 8px;
    display: grid;
    grid-template-columns: 40px 25px 1fr 90px;
    align-items: center;
}

.parameters__dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.parameters__label {
    cursor: pointer;
}

.parameters__text--error {
    display: block;
    padding-top: 10px;
    height: 25px;
}