.confimModal .content__container {
    margin: 20px 10px 25px;
}

.confimModal .content__container p {
    line-height: 1.5;
    text-wrap: balance;
}

.confimModal .content__confirmContainer {
    margin: 5px 0 0;
}

.confimModal .content__confirmText {
    line-height: 1;
    color: gray;
}

.confimModal .content__confirmField {
    width: 100%;
    margin: 10px 0;
}