body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 25px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}


.label {
  font-size: 14px !important;
}