.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 15px 10px 15px 20px;
}

.modal-header__titles {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-header .modal-header__title {
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
}

.modal-header .modal-header__subtitle {
    line-height: 1;
    color: grey;
}